<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-matomo-reporter" >
	<tr>
		<td>
			<f:translate key="tx_matomoreporter_domain_model_subscriber.name" />
		</td>
		<td>
			{subscriber.name}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_matomoreporter_domain_model_subscriber.email" />
		</td>
		<td>
			{subscriber.email}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_matomoreporter_domain_model_subscriber.maildays" />
		</td>
		<td>
			{subscriber.maildays}
		</td>
	</tr>
</table>
</html>